.gradle/
target/
!.mvn/wrapper/maven-wrapper.jar
tmp/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea
*.iws
*.iml
*.ipr
*.log
!/.idea/runConfigurations/

nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/

node/
node_modules/

*.db

application-mysql.properties